@{
    ViewBag.Title = "Medication";
}
@section styles{
    <link href="~/Content/typeahead.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-12">
        <h1>Medications <small>Manage your prescriptions</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-medkit"></i> Medication</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="medication" class="sr-only">Medication</label>
                <input type="text" class="form-control typeahead" id="medication" name="medication" placeholder="Enter a new medication" />
            </div>
            <img id="ajax-spinner" src="/img/ajax-loader.gif" alt="Alternate Text" style="display:none;" />
            <button class="btn btn-primary" id="drug-voice-activate" type="button"><i class="fa fa-microphone"></i></button>
            <button type="button" id="interactions-button" class="btn btn-default">Check Interactions</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="alert-container"></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th>orderStatusLevelNum <i class="fa fa-sort"></i></th>
                        <th>OrderStatusCode <i class="fa fa-sort"></i></th>
                        <th>MedicationName <i class="fa fa-sort"></i></th>
                        <th>Dosage <i class="fa fa-sort"></i></th>
                        <th>Frequency <i class="fa fa-sort"></i></th>
                        <th>PRNStatus <i class="fa fa-sort"></i></th>
                        <th>OrderRouteCode <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-nui='N0000021982'>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Dalteparin</td>
                        <td>5000 UNIT</td>
                        <td>daily 9am</td>
                        <td></td>
                        <td>SUBQ</td>
                    </tr>
                    <tr data-nui='N0000148560'>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>riTUXimab Inj - Non-oncology</td>
                        <td>375 mg</td>
                        <td>Once</td>
                        <td></td>
                        <td>IVPB</td>
                    </tr>
                    <tr data-nui="N0000146860">
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Heparin Inj</td>
                        <td>2000 UNIT</td>
                        <td>Once</td>
                        <td></td>
                        <td>IV</td>
                    </tr>
                    <tr data-nui="N0000146860">
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Heparin Inj</td>
                        <td>5000 Unit</td>
                        <td>bid q12h</td>
                        <td></td>
                        <td>IV PUSH</td>
                    </tr>
                    <tr data-nui="N0000146860">
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Heparin Inj</td>
                        <td>5000 Unit</td>
                        <td>bid q12h</td>
                        <td></td>
                        <td>SUBQ</td>
                    </tr>
                    <tr data-nui="N0000147049">
                        <td>100</td>
                        <td>AUC9</td>
                        <td>fentaNYL DRIP</td>
                        <td>1000 microgram/hr</td>
                        <td>continuous</td>
                        <td></td>
                        <td>IV</td>
                    </tr>
                    <tr data-nui="N0000146069">
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Potassium Chloride Oral</td>
                        <td>10 mEq</td>
                        <td>Once</td>
                        <td></td>
                        <td>PO</td>
                    </tr>
                    <tr data-nui="N0000145898">
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Acetaminophen Tab</td>
                        <td>650 mg</td>
                        <td>Once</td>
                        <td></td>
                        <td>PO</td>
                    </tr>
                    <tr data-nui="N0000020118">
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj >3 Years Old</td>
                        <td>0.5 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IM</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj QUADRIVALENT < 3 years old</td>
                        <td>0.5 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IM</td>
                    </tr>
                    <tr data-nui="N0000020118">
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj TRIVALENT < 3 years old</td>
                        <td>0.5 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IM</td>
                    </tr>
                    <tr data-nui="N0000145898">
                        <td>100</td>
                        <td>AUC9</td>
                        <td>Acetaminophen Cod #3 Oral</td>
                        <td>1 tablet</td>
                        <td>q4h</td>
                        <td></td>
                        <td>Oral</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj <3 years old</td>
                        <td>0.25 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IntraMUSCULAR</td>
                    </tr>
                    <tr data-nui="N0000146860">
                        <td>100</td>
                        <td>AUC9</td>
                        <td>Heparin Drip</td>
                        <td>500 UNIT/hr</td>
                        <td>continuous</td>
                        <td></td>
                        <td>IV Cont Infusion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- /.row -->
@section scripts{
    <script src="~/Scripts/typeahead.bundle.js"></script>
    <script>

        $('#medication-link').addClass('active');

        var medications = [{ nui: 'N0', name: 'Paxil' },
{ nui: 'N1', name: 'Lexapro' },
{ nui: 'N2', name: 'Hydrocodone' },
{ nui: 'N3', name: 'Xanax' },
{ nui: 'N4', name: 'Tramadol' },
{ nui: 'N5', name: 'Vicodin' },
{ nui: 'N6', name: 'Lyrica' },
{ nui: 'N7', name: 'Oxycodone' },
{ nui: 'N8', name: 'Lisinopril' },
{ nui: 'N9', name: 'Cymbalta' },
{ nui: 'N10', name: 'Lipitor' },
{ nui: 'N11', name: 'Percocet' },
{ nui: 'N12', name: 'Zoloft' },
{ nui: 'N13', name: 'Metformin' },
{ nui: 'N14', name: 'Effexor' },
{ nui: 'N15', name: 'Ambien' },
{ nui: 'N16', name: 'Prednisone' },
{ nui: 'N17', name: 'Atenolol' },
{ nui: 'N18', name: 'Wellbutrin' },
{ nui: 'N19', name: 'Morphine' },
{ nui: 'N20', name: 'Naproxen' },
{ nui: 'N21', name: 'Phentermine' },
{ nui: 'N22', name: 'Tylenol' },
{ nui: 'N23', name: 'Aspirin' },
{ nui: 'N24', name: 'Norvasc' },
{ nui: 'N25', name: 'Toprol' },
{ nui: 'N26', name: 'Darvocet' },
{ nui: 'N27', name: 'Nexium' },
{ nui: 'N28', name: 'Soma' },
{ nui: 'N29', name: 'Diovan' },
{ nui: 'N30', name: 'Seroquel' },
{ nui: 'N31', name: 'Albuterol' },
{ nui: 'N32', name: 'Neurontin' },
{ nui: 'N33', name: 'Adderall' },
{ nui: 'N34', name: 'Protonix' },
{ nui: 'N35', name: 'Ultram' },
{ nui: 'N36', name: 'Zocor' },
{ nui: 'N37', name: 'Ativan' },
{ nui: 'N38', name: 'Metoprolol' },
{ nui: 'N39', name: 'Levaquin' },
{ nui: 'N40', name: 'Valium' },
{ nui: 'N41', name: 'Viagra' },
{ nui: 'N42', name: 'Prozac' },
{ nui: 'N43', name: 'Alprazolam' },
{ nui: 'N44', name: 'Cipro' },
{ nui: 'N45', name: 'Oxycontin' },
{ nui: 'N46', name: 'Gabapentin' },
{ nui: 'N47', name: 'Lortab' },
{ nui: 'N48', name: 'Clonazepam' },
{ nui: 'N49', name: 'Celexa' },
{ nui: 'N50', name: 'Synthroid' },
{ nui: 'N51', name: 'Plavix' },
{ nui: 'N52', name: 'Cyclobenzaprine' },
{ nui: 'N53', name: 'Prevacid' },
{ nui: 'N54', name: 'Celebrex' },
{ nui: 'N55', name: 'Vytorin' },
{ nui: 'N56', name: 'Lasix' },
{ nui: 'N57', name: 'Lorazepam' },
{ nui: 'N58', name: 'Amoxicillin' },
{ nui: 'N59', name: 'Trazodone' },
{ nui: 'N60', name: 'Zyrtec' },
{ nui: 'N61', name: 'Klonopin' },
{ nui: 'N62', name: 'Depakote' },
{ nui: 'N63', name: 'Clonidine' },
{ nui: 'N64', name: 'Codeine' },
{ nui: 'N65', name: 'Lamictal' },
{ nui: 'N66', name: 'Methadone' },
{ nui: 'N67', name: 'Flexeril' },
{ nui: 'N68', name: 'Topamax' },
{ nui: 'N69', name: 'Diclofenac' },
{ nui: 'N70', name: 'Promethazine' },
{ nui: 'N71', name: 'Mobic' },
{ nui: 'N72', name: 'Doxycycline' },
{ nui: 'N73', name: 'Augmentin' },
{ nui: 'N74', name: 'Cephalexin' },
{ nui: 'N75', name: 'Bactrim' },
{ nui: 'N76', name: 'Hydrochlorothiazide' },
{ nui: 'N77', name: 'Advair' },
{ nui: 'N78', name: 'Ibuprofen' },
{ nui: 'N79', name: 'Omeprazole' },
{ nui: 'N80', name: 'Furosemide' },
{ nui: 'N81', name: 'Zetia' },
{ nui: 'N82', name: 'Diazepam' },
{ nui: 'N83', name: 'Fentanyl' },
{ nui: 'N84', name: 'Risperdal' },
{ nui: 'N85', name: 'Abilify' },
{ nui: 'N86', name: 'Skelaxin' },
{ nui: 'N87', name: 'Elavil' },
{ nui: 'N88', name: 'Amitriptyline' },
{ nui: 'N89', name: 'Coumadin' },
{ nui: 'N90', name: 'Flomax' },
{ nui: 'N91', name: 'Prilosec' },
{ nui: 'N92', name: 'Allegra' },
{ nui: 'N93', name: 'Clindamycin' },
{ nui: 'N94', name: 'Insulin' },
{ nui: 'N95', name: 'Lunesta' },
{ nui: 'N96', name: 'Fosamax' },
{ nui: 'N97', name: 'Zyprexa' },
{ nui: 'N98', name: 'Citalopram' },
{ nui: 'N99', name: 'Ranitidine' },
{ nui: 'N100', name: 'Fluoxetine' },
{ nui: 'N101', name: 'Hydroxyzine' },
{ nui: 'N102', name: 'Actos' },
{ nui: 'N103', name: 'Metronidazole' },
{ nui: 'N104', name: 'Altace' },
{ nui: 'N105', name: 'Crestor' },
{ nui: 'N106', name: 'Coreg' },
{ nui: 'N107', name: 'Digoxin' },
{ nui: 'N108', name: 'Phenergan' },
{ nui: 'N109', name: 'Benicar' },
{ nui: 'N110', name: 'Verapamil' },
{ nui: 'N111', name: 'Acetaminophen' },
{ nui: 'N112', name: 'Lithium' },
{ nui: 'N113', name: 'Zithromax' },
{ nui: 'N114', name: 'Dilantin' },
{ nui: 'N115', name: 'Tricor' },
{ nui: 'N116', name: 'Lotrel' },
{ nui: 'N117', name: 'Potassium' },
{ nui: 'N118', name: 'Norco' },
{ nui: 'N119', name: 'Keflex' },
{ nui: 'N120', name: 'Flagyl' },
{ nui: 'N121', name: 'Avandia' },
{ nui: 'N122', name: 'Ritalin' },
{ nui: 'N123', name: 'Ciprofloxacin' },
{ nui: 'N124', name: 'Inderal' },
{ nui: 'N125', name: 'Trazadone' },
{ nui: 'N126', name: 'Biaxin' },
{ nui: 'N127', name: 'Singulair' },
{ nui: 'N128', name: 'Aciphex' },
{ nui: 'N129', name: 'Enalapril' },
{ nui: 'N130', name: 'Zantac' },
{ nui: 'N131', name: 'Ultracet' },
{ nui: 'N132', name: 'Tamiflu' },
{ nui: 'N133', name: 'Diltiazem' },
{ nui: 'N134', name: 'Warfarin' },
{ nui: 'N135', name: 'Baclofen' },
{ nui: 'N136', name: 'Lidocaine' },
{ nui: 'N137', name: 'Lovastatin' },
{ nui: 'N138', name: 'Carisoprodol' },
{ nui: 'N139', name: 'Provigil' },
{ nui: 'N140', name: 'Ortho Evra' },
{ nui: 'N141', name: 'Medrol' },
{ nui: 'N142', name: 'Penicillin' },
{ nui: 'N143', name: 'Benadryl' },
{ nui: 'N144', name: 'Reglan' },
{ nui: 'N145', name: 'Remeron' },
{ nui: 'N146', name: 'Propoxyphene' },
{ nui: 'N147', name: 'Concerta' },
{ nui: 'N148', name: 'Cozaar' },
{ nui: 'N149', name: 'Hctz' },
{ nui: 'N150', name: '150. Premarin' },
{ nui: 'N151', name: '151. Levothyroxine' },
{ nui: 'N152', name: 'Methotrexate' },
{ nui: 'N153', name: 'Buspar' },
{ nui: 'N154', name: 'Glucophage' },
{ nui: 'N155', name: 'Glyburide' },
{ nui: 'N156', name: 'Paroxetine' },
{ nui: 'N157', name: 'Avelox' },
{ nui: 'N158', name: 'Valtrex' },
{ nui: 'N159', name: 'Calcium' },
{ nui: 'N160', name: 'Allopurinol' },
{ nui: 'N161', name: 'Avapro' },
{ nui: 'N162', name: 'Erythromycin' },
{ nui: 'N163', name: 'Dilaudid' },
{ nui: 'N164', name: 'Aricept' },
{ nui: 'N165', name: 'Claritin' },
{ nui: 'N166', name: 'Imitrex' },
{ nui: 'N167', name: 'Simvastatin' },
{ nui: 'N168', name: 'Estradiol' },
{ nui: 'N169', name: 'Triamcinolone' },
{ nui: 'N170', name: 'Namenda' },
{ nui: 'N171', name: 'Meclizine' },
{ nui: 'N172', name: 'Lopressor' },
{ nui: 'N173', name: 'Glipizide' },
{ nui: 'N174', name: 'Cialis' },
{ nui: 'N175', name: 'Acyclovir' },
{ nui: 'N176', name: 'Azithromycin' },
{ nui: 'N177', name: 'Actonel' },
{ nui: 'N178', name: 'Etodolac' },
{ nui: 'N179', name: 'Robaxin' },
{ nui: 'N180', name: 'Lovenox' },
{ nui: 'N181', name: 'Trileptal' },
{ nui: 'N182', name: 'Atarax' },
{ nui: 'N183', name: 'Geodon' },
{ nui: 'N184', name: 'Propranolol' },
{ nui: 'N185', name: 'Temazepam' },
{ nui: 'N186', name: 'Zofran' },
{ nui: 'N187', name: 'Bupropion' },
{ nui: 'N188', name: 'Naprosyn' },
{ nui: 'N189', name: 'Detrol' },
{ nui: 'N190', name: 'Flonase' },
{ nui: 'N191', name: 'Voltaren' },
{ nui: 'N192', name: 'Cardizem' },
{ nui: 'N193', name: 'Amiodarone' },
{ nui: 'N194', name: 'Diflucan' },
{ nui: 'N195', name: 'Isosorbide' },
{ nui: 'N196', name: 'Byetta' },
{ nui: 'N197', name: 'Zanaflex' },
{ nui: 'N198', name: 'Heparin' },
{ nui: 'N199', name: 'Nabumetone' },
{ nui: 'N200', name: 'Nystatin' },
{ nui: 'N201', name: 'Toradol' },
{ nui: 'N202', name: 'Loratadine' },
{ nui: 'N203', name: 'Levoxyl' },
{ nui: 'N204', name: 'Magnesium' },
{ nui: 'N205', name: 'Demerol' },
{ nui: 'N206', name: 'Vancomycin' },
{ nui: 'N207', name: 'Motrin' },
{ nui: 'N208', name: 'Tegretol' },
{ nui: 'N209', name: 'Requip' },
{ nui: 'N210', name: 'Pravachol' },
{ nui: 'N211', name: 'Evista' },
{ nui: 'N212', name: 'Boniva' },
{ nui: 'N213', name: 'Haldol' },
{ nui: 'N214', name: 'Nifedipine' },
{ nui: 'N215', name: 'Keppra' },
{ nui: 'N216', name: 'Metoclopramide' },
{ nui: 'N217', name: 'Spironolactone' },
{ nui: 'N218', name: 'Lantus' },
{ nui: 'N219', name: 'Methocarbamol' },
{ nui: 'N220', name: 'Indomethacin' },
{ nui: 'N221', name: 'Quinine' },
{ nui: 'N222', name: 'Rozerem' },
{ nui: 'N223', name: 'Tizanidine' },
{ nui: 'N224', name: 'Lanoxin' },
{ nui: 'N225', name: 'Apap' },
{ nui: 'N226', name: 'Decadron' },
{ nui: 'N227', name: 'Omnicef' },
{ nui: 'N228', name: 'Triamterene' },
{ nui: 'N229', name: 'Strattera' },
{ nui: 'N230', name: 'Atropine' },
{ nui: 'N231', name: 'Fioricet' },
{ nui: 'N232', name: 'Relafen' },
{ nui: 'N233', name: 'Compazine' },
{ nui: 'N234', name: 'Restoril' },
{ nui: 'N235', name: 'Endocet' },
{ nui: 'N236', name: 'Spiriva' },
{ nui: 'N237', name: 'Dexamethasone' },
{ nui: 'N238', name: 'Zelnorm' },
{ nui: 'N239', name: 'Vioxx' },
{ nui: 'N240', name: 'Hydrocortisone' },
{ nui: 'N241', name: 'Niaspan' },
{ nui: 'N242', name: 'Mirtazapine' },
{ nui: 'N243', name: 'Nasonex' },
{ nui: 'N244', name: 'Hyzaar' },
{ nui: 'N245', name: 'Tetracycline' },
{ nui: 'N246', name: 'Terazosin' },
{ nui: 'N247', name: 'Provera' },
{ nui: 'N248', name: 'Avalide' },
{ nui: 'N249', name: 'Lodine' },
{ nui: 'N250', name: 'Aldactone' },
{ nui: 'N251', name: 'Fluconazole' },
{ nui: 'N252', name: 'Lupron' },
{ nui: 'N253', name: 'Diphenhydramine' },
{ nui: 'N254', name: 'Septra' },
{ nui: 'N255', name: 'Thyroid' },
{ nui: 'N256', name: 'Methylprednisolone' },
{ nui: 'N257', name: 'Fexofenadine' },
{ nui: 'N258', name: 'Amlodipine' },
{ nui: 'N259', name: 'Ditropan' },
{ nui: 'N260', name: 'Famotidine' },
{ nui: 'N261', name: 'Accupril' },
{ nui: 'N262', name: 'Amaryl' },
{ nui: 'N263', name: 'Atrovent' },
{ nui: 'N264', name: 'Phenytoin' },
{ nui: 'N265', name: 'Colchicine' },
{ nui: 'N266', name: 'Vasotec' },
{ nui: 'N267', name: 'Atacand' },
{ nui: 'N268', name: 'Yasmin' },
{ nui: 'N269', name: 'Proscar' },
{ nui: 'N270', name: 'Flovent' },
{ nui: 'N271', name: 'Caduet' },
{ nui: 'N272', name: 'Lupron' },
{ nui: 'N273', name: 'Pepcid' },
{ nui: 'N274', name: 'Captopril' },
{ nui: 'N275', name: 'Doxepin' },
{ nui: 'N276', name: 'Macrobid' },
{ nui: 'N277', name: 'Entex' },
{ nui: 'N278', name: 'Lamisil' },
{ nui: 'N279', name: 'Prednisolone' },
{ nui: 'N280', name: 'Piroxicam' },
{ nui: 'N281', name: 'Sinemet' },
{ nui: 'N282', name: 'Bentyl' },
{ nui: 'N283', name: 'Dopamine' },
{ nui: 'N284', name: 'Lidoderm' },
{ nui: 'N285', name: 'Zestril' },
{ nui: 'N286', name: 'Imdur' },
{ nui: 'N287', name: 'Clarinex' },
{ nui: 'N288', name: 'Butalbital' },
{ nui: 'N289', name: 'Combivent' },
{ nui: 'N290', name: 'Levitra' },
{ nui: 'N291', name: 'Ampicillin' },
{ nui: 'N292', name: 'Versed' },
{ nui: 'N293', name: 'Duragesic' },
{ nui: 'N294', name: 'Bextra' },
{ nui: 'N295', name: 'Cardura' },
{ nui: 'N296', name: 'Hydralazine' },
{ nui: 'N297', name: 'Pseudoephedrine' },
{ nui: 'N298', name: 'Enebrel' },
{ nui: 'N299', name: 'Indocin' }];

        // constructs the suggestion engine
        var bhMedications = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: $.map(medications, function (medication) { return { value: medication.name }; })
        });

        // kicks off the loading/processing of `local` and `prefetch`
        bhMedications.initialize();

        $('#medication').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'medications',
            displayKey: 'value',
            // `ttAdapter` wraps the suggestion engine in an adapter that
            // is compatible with the typeahead jQuery plugin
            source: bhMedications.ttAdapter()
        });
        Array.prototype.contains = Array.prototype.contains || function (obj) {
            var i, l = this.length;
            for (i = 0; i < l; i++) {
                if (this[i] == obj) return true;
            }
            return false;
        };
        var searchedDrug = '';
        var initiatedBySpeech = false;

        function checkInteractions() {
            'use strict';
            searchedDrug = $('#medication').val();
            var problemInteractions = [];
            if (searchedDrug.toLowerCase().indexOf('aspirin') >= 0) {
                problemInteractions.push('N0000021982');
            }
            $('#alert-container').empty();
            $('tr').removeClass('danger');
            $.getJSON('/home/interaction', { drugName: searchedDrug }).done(interactionSuccess).fail(onFail);

        }
        function interactionSuccess(problemInteractions) {
            var messages = [];
            if (problemInteractions.length == 0) {
                var alert = $("<div class='alert alert-success' >You can take " + searchedDrug + ".</div>");
                $('#alert-container').append(alert);
            } else {
                $('tbody tr').each(function (index, element) {
                    element = $(element);
                    var nui = element.data('nui');
                    if (typeof nui === 'undefined') {
                        return;
                    }
                    if (problemInteractions.contains(nui)) {
                        var alert = $("<div class='alert alert-danger'></div>");
                        var warningMessage = 'Do not mix ' + searchedDrug + ' and ' + element.find('td:nth-child(3)').text();
                        alert.html(warningMessage);
                        messages.push(warningMessage);
                        $('#alert-container').append(alert);
                        element.addClass('danger');
                    }
                });
            }


            if (true) {
                readWarnings(messages);
                initiatedBySpeech = false;
            }
        }

        function onFail() {
            consle.error('Interaction request failed, using fallback.');
            if (searchedDrug.toLocaleLowerCase() === 'aspirin') {
                interactionSuccess(['N0000021982']);
            } else {
                interactionSuccess([]);
            }

        }
        function readWarnings(warnings) {
            var warningMessages = 'You can take ' + searchedDrug;
            if (warnings.length > 0) {
                warningMessages = warnings.join(' ');
            }
            var msg = new SpeechSynthesisUtterance(warningMessages);
            window.speechSynthesis.speak(msg);
        }

        $('#interactions-button').click(checkInteractions);

        function onDrugSpoken(event) {
            console.log('Speech recognized.');
            initiatedBySpeech = true;
            searchedDrug = event.results[0][0].transcript;
            console.log('User said: ' + searchedDrug);
            $('#medication').val(searchedDrug);
            checkInteractions();
        }
        function onEnd() {
            if (searchedDrug === '') {
                console.warn('Speech recognition ended with no match.')
            }
            $('#drug-voice-activate').show();
            $('#ajax-spinner').hide();
        }
        $('#drug-voice-activate').click(function () {
            $('#drug-voice-activate').hide();
            $('#ajax-spinner').show();
            transcript = '';
            recognition.onresult = onDrugSpoken;
            recognition.onend = onEnd;
            initiatedBySpeech = true;
            recognition.start();
        });
    </script>
}
