@{
    ViewBag.Title = "Medication";
}
@section styles{
    <link href="~/Content/typeahead.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-12">
        <h1>Medications <small>Manage your prescriptions</small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-medkit"></i> Medication</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="medication" class="sr-only">Medication</label>
                <input type="text" class="form-control typeahead" id="medication" name="medication" placeholder="Enter a new medication" />
            </div>
            <button type="button" id="interactions-button" class="btn btn-default">Check Interactions</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="alert-container"></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th>orderStatusLevelNum <i class="fa fa-sort"></i></th>
                        <th>OrderStatusCode <i class="fa fa-sort"></i></th>
                        <th>MedicationName <i class="fa fa-sort"></i></th>
                        <th>Dosage <i class="fa fa-sort"></i></th>
                        <th>Frequency <i class="fa fa-sort"></i></th>
                        <th>PRNStatus <i class="fa fa-sort"></i></th>
                        <th>OrderRouteCode <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id='N0000021982'>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Dalteparin Inj</td>
                        <td>5000 UNIT</td>
                        <td>daily 9am</td>
                        <td></td>
                        <td>SUBQ</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>riTUXimab Inj - Non-oncology</td>
                        <td>375 mg</td>
                        <td>Once</td>
                        <td></td>
                        <td>IVPB</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Heparin Inj</td>
                        <td>2000 UNIT</td>
                        <td>Once</td>
                        <td></td>
                        <td>IV</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Heparin Inj</td>
                        <td>5000 Unit</td>
                        <td>bid q12h</td>
                        <td></td>
                        <td>IV PUSH</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Heparin Inj</td>
                        <td>5000 Unit</td>
                        <td>bid q12h</td>
                        <td></td>
                        <td>SUBQ</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>AUC9</td>
                        <td>fentaNYL DRIP</td>
                        <td>1000 microgram/hr</td>
                        <td>continuous</td>
                        <td></td>
                        <td>IV</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Potassium Chloride Oral</td>
                        <td>10 mEq</td>
                        <td>Once</td>
                        <td></td>
                        <td>PO</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>AUA1</td>
                        <td>Acetaminophen Tab</td>
                        <td>650 mg</td>
                        <td>Once</td>
                        <td></td>
                        <td>PO</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj >3 Years Old</td>
                        <td>0.5 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IM</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj QUADRIVALENT < 3 years old</td>
                        <td>0.5 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IM</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj TRIVALENT < 3 years old</td>
                        <td>0.5 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IM</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>AUC9</td>
                        <td>Acetaminophen Cod #3 Oral</td>
                        <td>1 tablet</td>
                        <td>q4h</td>
                        <td></td>
                        <td>Oral</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>DISC</td>
                        <td>Influenza Virus Vaccine Inj <3 years old</td>
                        <td>0.25 ml</td>
                        <td>Once</td>
                        <td></td>
                        <td>IntraMUSCULAR</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>AUC9</td>
                        <td>Heparin Drip</td>
                        <td>500 UNIT/hr</td>
                        <td>continuous</td>
                        <td></td>
                        <td>IV Cont Infusion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- /.row -->
@section scripts{
    <script src="~/Scripts/typeahead.bundle.js"></script>
    <script>
        $('#medication-link').addClass('active');

        var medications = ['Paxil',
'Lexapro',
'Hydrocodone',
'Xanax',
'Tramadol',
'Vicodin',
'Lyrica',
'Oxycodone',
'Lisinopril',
'Cymbalta',
'Lipitor',
'Percocet',
'Zoloft',
'Metformin',
'Effexor',
'Ambien',
'Prednisone',
'Atenolol',
'Wellbutrin',
'Morphine',
'Naproxen',
'Phentermine',
'Tylenol',
'Aspirin',
'Norvasc',
'Toprol',
'Darvocet',
'Nexium',
'Soma',
'Diovan',
'Seroquel',
'Albuterol',
'Neurontin',
'Adderall',
'Protonix',
'Ultram',
'Zocor',
'Ativan',
'Metoprolol',
'Levaquin',
'Valium',
'Viagra',
'Prozac',
'Alprazolam',
'Cipro',
'Oxycontin',
'Gabapentin',
'Lortab',
'Clonazepam',
'Celexa',
'Synthroid',
'Plavix',
'Cyclobenzaprine',
'Prevacid',
'Celebrex',
'Vytorin',
'Lasix',
'Lorazepam',
'Amoxicillin',
'Trazodone',
'Zyrtec',
'Klonopin',
'Depakote',
'Clonidine',
'Codeine',
'Lamictal',
'Methadone',
'Flexeril',
'Topamax',
'Diclofenac',
'Promethazine',
'Mobic',
'Doxycycline',
'Augmentin',
'Cephalexin',
'Bactrim',
'Hydrochlorothiazide',
'Advair',
'Ibuprofen',
'Omeprazole',
'Furosemide',
'Zetia',
'Diazepam',
'Fentanyl',
'Risperdal',
'Abilify',
'Skelaxin',
'Elavil',
'Amitriptyline',
'Coumadin',
'Flomax',
'Prilosec',
'Allegra',
'Clindamycin',
'Insulin',
'Lunesta',
'Fosamax',
'Zyprexa',
'Citalopram',
'Ranitidine',
'Fluoxetine',
'Hydroxyzine',
'Actos',
'Metronidazole',
'Altace',
'Crestor',
'Coreg',
'Digoxin',
'Phenergan',
'Benicar',
'Verapamil',
'Acetaminophen',
'Lithium',
'Zithromax',
'Dilantin',
'Tricor',
'Lotrel',
'Potassium',
'Norco',
'Keflex',
'Flagyl',
'Avandia',
'Ritalin',
'Ciprofloxacin',
'Inderal',
'Trazadone',
'Biaxin',
'Singulair',
'Aciphex',
'Enalapril',
'Zantac',
'Ultracet',
'Tamiflu',
'Diltiazem',
'Warfarin',
'Baclofen',
'Lidocaine',
'Lovastatin',
'Carisoprodol',
'Provigil',
'Ortho Evra',
'Medrol',
'Penicillin',
'Benadryl',
'Reglan',
'Remeron',
'Propoxyphene',
'Concerta',
'Cozaar',
'Hctz',
'150. Premarin',
'151. Levothyroxine',
'Methotrexate',
'Buspar',
'Glucophage',
'Glyburide',
'Paroxetine',
'Avelox',
'Valtrex',
'Calcium',
'Allopurinol',
'Avapro',
'Erythromycin',
'Dilaudid',
'Aricept',
'Claritin',
'Imitrex',
'Simvastatin',
'Estradiol',
'Triamcinolone',
'Namenda',
'Meclizine',
'Lopressor',
'Glipizide',
'Cialis',
'Acyclovir',
'Azithromycin',
'Actonel',
'Etodolac',
'Robaxin',
'Lovenox',
'Trileptal',
'Atarax',
'Geodon',
'Propranolol',
'Temazepam',
'Zofran',
'Bupropion',
'Naprosyn',
'Detrol',
'Flonase',
'Voltaren',
'Cardizem',
'Amiodarone',
'Diflucan',
'Isosorbide',
'Byetta',
'Zanaflex',
'Heparin',
'Nabumetone',
'Nystatin',
'Toradol',
'Loratadine',
'Levoxyl',
'Magnesium',
'Demerol',
'Vancomycin',
'Motrin',
'Tegretol',
'Requip',
'Pravachol',
'Evista',
'Boniva',
'Haldol',
'Nifedipine',
'Keppra',
'Metoclopramide',
'Spironolactone',
'Lantus',
'Methocarbamol',
'Indomethacin',
'Quinine',
'Rozerem',
'Tizanidine',
'Lanoxin',
'Apap',
'Decadron',
'Omnicef',
'Triamterene',
'Strattera',
'Atropine',
'Fioricet',
'Relafen',
'Compazine',
'Restoril',
'Endocet',
'Spiriva',
'Dexamethasone',
'Zelnorm',
'Vioxx',
'Hydrocortisone',
'Niaspan',
'Mirtazapine',
'Nasonex',
'Hyzaar',
'Tetracycline',
'Terazosin',
'Provera',
'Avalide',
'Lodine',
'Aldactone',
'Fluconazole',
'Lupron',
'Diphenhydramine',
'Septra',
'Thyroid',
'Methylprednisolone',
'Fexofenadine',
'Amlodipine',
'Ditropan',
'Famotidine',
'Accupril',
'Amaryl',
'Atrovent',
'Phenytoin',
'Colchicine',
'Vasotec',
'Atacand',
'Yasmin',
'Proscar',
'Flovent',
'Caduet',
'Lupron',
'Pepcid',
'Captopril',
'Doxepin',
'Macrobid',
'Entex',
'Lamisil',
'Prednisolone',
'Piroxicam',
'Sinemet',
'Bentyl',
'Dopamine',
'Lidoderm',
'Zestril',
'Imdur',
'Clarinex',
'Butalbital',
'Combivent',
'Levitra',
'Ampicillin',
'Versed',
'Duragesic',
'Bextra',
'Cardura',
'Hydralazine',
'Pseudoephedrine',
'Enebrel',
'Indocin'];

        // constructs the suggestion engine
        var bhMedications = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: $.map(medications, function (medication) { return { value: medication }; })
        });

        // kicks off the loading/processing of `local` and `prefetch`
        bhMedications.initialize();

        $('#medication').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'medications',
            displayKey: 'value',
            // `ttAdapter` wraps the suggestion engine in an adapter that
            // is compatible with the typeahead jQuery plugin
            source: bhMedications.ttAdapter()
        });

        $('#interactions-button').click(function () {
            $('tbody tr').each(function (index, element) {
                element = $(element);
                element.addClass('warning');
                var timeout = 5000 * Math.random();
                setTimeout(function () {
                    element.removeClass('warning');
                    if (element.attr('id') == 'N0000021982') {
                        var alert = $("<div class='alert alert-danger'></div>");
                        alert.html('Talk to your doctor before using dalteparin together with aspirin. Combining these medications can increase the risk of bleeding complications. You may need a dose adjustment or more frequent monitoring by your doctor to safely use both medications. Call your doctor promptly if you experience any unusual bleeding or bruising, swelling, vomiting, blood in your urine or stools, headache, dizziness, or weakness during treatment with these medications. It is important to tell your doctor about all other medications you use, including vitamins and herbs. Do not stop using any medications without first talking to your doctor.');
                        $('#alert-container').append(alert);
                        element.addClass('danger');
                    }
                }, timeout);
            });
        });
    </script>
}
